<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>
    <header>
        <div class="contenitore-logo">
            <img class="logo" src="https://www.geekandjob.com/uploads/wiki/f236a1aa005ef9a93041f294749e86d1.png" alt="">
        </div>
        <ul class="menu">
            <li v-for="voce in voci_menu">
                <a class="menu-link" :href="voce.link">{{voce.nome}}</a>
            </li>
        </ul>
    </header>

    <div id="contenitore-vue">
        <!--Tabella Info Teoria-->
        <div class="tabella">
            <table>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Titolo</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="voce in voci_teoria">
                        <td>{{voce.data}}</td>
                        <td>{{voce.titolo}}</td>
                        <td>
                            <a :href="voce.link">
                                <img src="https://agora.ismonnet.it/agora/theme/image.php/boost/assign/1611140214/icon"
                                    alt="">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--Tabella Info Laboratorio-->
        <div class="tabella">
            <table>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Titolo</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="voce in voci_lab">
                        <td>{{voce.data}}</td>
                        <td>{{voce.titolo}}</td>
                        <td>
                            <a :href="voce.link">
                                <img src="https://agora.ismonnet.it/agora/theme/image.php/boost/assign/1611140214/icon"
                                    alt="">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>