* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.contenitore {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 1500px;
}

.carta {
    width: 270px;
    height: 290px;
    background-color: rgb(20, 20, 20);
    margin: 20px;
    border-radius: 30px;
    overflow: hidden;
}

.immagine-carta {
    width: 100%;
}

.contenitore-testo {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.titolo-carta {
    color: white;
    font-size: 25px;
}

.bottone-carta {
    background-color: #535252;
    border: 0;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
}